        /*============================================================================================
            DEFAULT VALUES
            Font-family:  Roboto Condensed

            Greenish Blue : #34c6d3   (Buttons,Icons,Links,Lines & Background)
            steel Grey : #41464b     (Headings)
            Blue Bayoux : #64707b    (Paragraphs)
            white:  #fff;
            black : #000


===============================================================================================*/
        /*   General css  */
        
        html,
        body {
            height: 100%;
        }
        
        body {
            font-family: "Roboto Condensed", sans-serif;
        }
        
        h3 {
            color: #41464b;
            text-transform: uppercase;
        }
        
        p {
            color: #64707b;
            font-size: 16px;
            font-weight: 300;
        }
        /*============================================================
                        HOME SECTION
==============================================================*/
        
        #home {
            height: 100%;
        }
        
        #home-cover {
            background-image: url(../img/bg-home.jpg);
            height: 100%;
        }
        
        #home-content-box {
            width: 100%;
            height: 100%;
            display: table;
        }
        
        #home-content-box-inner {
            display: table-cell;
            vertical-align: middle;
            text-align: center;
        }
        
        #home-heading h3 {
            color: #fff;
            font-size: 55px;
            font-weight: 700;
            margin: 20px 0px 20px 0px;
        }
        /*===========================================================
                       PARALLEX(Generic)
============================================================*/
        
        .bg-parallex {
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
        /*===========================================================
                       BUTTONS(Generic)
============================================================*/
        
        .btn-general {
            border-width: 2px;
            border-radius: 5px;
            padding: 12px 24px 12px 24px;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
        }
        
        .btn-white {
            border-color: white;
            color: white;
        }
        
        .btn-white:hover,
        .btn-white:focus {
            background-color: white;
            color: #41464b;
        }
        
        .btn-blue {
            border-color: #34c6d3;
            color: #34c6d3;
        }
        
        .btn-blue:hover,
        .btn-blue:focus {
            background-color: #34c6d3;
            color: white;
        }
        /*===========================================================
                       ANIMATION
============================================================*/
        /*   --  Animaiton Generic --    */
        
        #home-cover,
        #home-heading,
        #home-btn {
            animation-duration: .5s;
        }
        
        #home-cover {
            animation-delay: .1s;
        }
        
        #home-heading {
            animation-delay: .5s;
        }
        
        #home-btn {
            animation-delay: 1s;
        }
        /*================================================================
                           CONTENT-GENERIC
==================================================================*/
        
        .content-box {
            padding: 60px 0px 60px 0px;
        }
        
        .content-title h3 {
            font-size: 30px;
            font-weight: 700;
            text-align: center;
            margin: 0 0 30px 0;
        }
        
        .content-title-underline {
            width: 30px;
            height: 3px;
            background-color: #34c6d3;
            margin: 0px auto 30px auto;
        }
        /*================================================================
                     SERVICES      
==================================================================*/
        
        .service-item {
            padding: 20px 0px 20px 0px;
            margin-bottom: 20px;
            cursor: pointer;
        }
        
        .service-item-icon i {
            width: 75px;
            height: 75px;
            color: #34c6d3;
            float: left;
            padding: 15px 15px 15px 0px;
            margin: 10px;
            text-align: center;
        }
        
        .service-item:hover .service-item-icon i {
            color: white;
            background-color: #34c6d3;
        }
        
        .service-item-title h3 {
            font-size: 20px;
            font-weight: 400;
            margin: 0 0 10px 0px;
        }
        
        .service-item-desc p {
            margin: 0px;
            padding-left: 85px;
        }
        /*================================================================
                     ABOUT     
==================================================================*/
        
        #about-bg-diagonal {
            float: right;
            width: 60%;
            height: 700px;
            background-image: url(../img/bg-about.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            border-top: 700px solid transparent;
            border-left: 200px solid white;
        }
        
        .about-content-box {
            float: left;
            height: 700px;
        }
        
        .about-content-box-outer {
            width: 100%;
            height: 100%;
            display: table;
        }
        
        .about-content-box-inner {
            display: table-cell;
            vertical-align: middle;
        }
        
        .about-desc p {
            margin-bottom: 30px;
        }